<nav class="navbar navbar-static-top  container-fluid">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="home">
        <span class=""></span> <img style="height: 50px;" src="assets/images/ukheating-logo.png"/>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a ng-href="#">Home</a></li>
        <li><a ui-sref="tadpole">Tadpole</a></li>
        <li><a ui-sref="infraredmesh">Infrared Mesh</a></li>
        <li><a ui-sref="infraredpanels">Infrared Panels</a></li>
        <li><a ui-sref="freeboiler">Free Boiler</a></li>
        <li><a ui-sref="contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
