    <div>
        <acme-navbar ></acme-navbar>
    </div>
    
<div class="container">
<h1 class="product-heading">Free Boiler</h1>

    <img style="margin-right: 60px;height: 150px;" src="assets/images/banner1.jpg" class="img-responsive" alt="Responsive image">
    <h1>Do You Get Benefits? You Could Claim</h1>
    <blockquote>
        <p>Under the Governments ECO Scheme in 2015, qualifying home owners and private tenants throughout the UK who claim the correct combination of means tested benefits could have their old in-efficient boilers replaced completely free of charge, or heavily subsidised.
        </p>
    </blockquote>
    <p class="lead">The grants are funded by the 'Big Six' energy suppliers and are non-repayable which means you do not have to re-pay the money back at any time in the future. Millions of home owners throughout the UK have already taken advantage of the free boiler scheme, and millions more could still claim. You can see if you could qualify using our simple online application form.
    </p>
    <img style="float:left;height: 80px;margin-right: 40px;" src ="http://www.boilergrants.org.uk/images/images/gov-free-boiler.png">
    <p class="lead">    
        If you want to learn more about the ECO scheme, please <a href="https://www.gov.uk/energy-company-obligation">visit the GOV.UK website</a>. Free boilers are funded by the 'Affordable Warmth' part of the energy company obligation.</p>


    <button type="button" class="btn btn-primary btn-lg btn-block">Apply now</button>
</div>
